@use './../variables' as * ; 
@use './../mixins' as * ;
.choose-us {
    padding: $section-padding;
    .container {
        @include flex(center , center , row , 20px) ; 
        @include mediaQuery(allExceptLarge) {
            @include flex(center , center , column , 60px) ; 
        }
        p {
            font-size: .93rem;
        }
        .head {
            margin-bottom:47px ;
        }
        .items {
            @include grid(1fr 1fr , 0px) ; 
            .item {
                position: relative;
                img {
                    margin-bottom: 30px;
                }
                &::after {
                    content: '';
                    position: absolute;
                    top: 14px;
                    left: 20px;
                    width: 32px;
                    height: 32px;
                    background-color: rgba(59, 93, 80, 0.2);
                    @include radius(50%); 
                }
            }
        }
        .image {
            position: relative;
            .main-section-image {
                max-width: 100%;
                @include radius(20px) ; 
            }
            .sub-img {
                position: absolute;
                top: -88px;
                left: -104px;
                z-index: -1;
            }
        }
    }
}