@use './variables' as * ; 
@use './mixins' as * ; 

.recent-blog {
    padding: $section-padding;
    .head {
        margin-bottom: 20px ; 
        @include flex(space-between , center , row , 0) ; 
        a {
            text-decoration: underline;
            font-size: 13px;
        }
    }
    .content {
        @include grid (1fr 1fr 1fr , 20px) ; 
        @include mediaQuery(small) {
            @include grid (1fr 1fr , 20px) ; 
        }
        @include mediaQuery(mobile) {
            @include grid (1fr , 20px) ; 
        }
        .post {
            img {
                width: 100%;
                @include radius(20px) ; 
                @include transition(.3s) ; 
                &:hover {
                    opacity: .7;
                }
            }
            h6 {
                margin: 20px 0 5px 20px;
            }
            p {
                margin-left: 20px ;
                font-size: 14px;
                span {
                    color: black;
                    font-weight: 600;
                }
            }
        }
    }
}